

  <section class="ptb05 mfont" id="post-job">
    <div class="container wrapper">
<br><br><br><br><br><br>
        <h1 style="border-bottom:1px solid #CCC;padding-bottom:3px;"> Login</h1><br>
      <form action="#" class="post-job-resume mt50 ml-3 mb-1 mr-4">
        <div class="row">
          <div class="col-md-12">

            <div class="form-group">
              <label>Identifiant</label>
              <input class="form-control" type="text" required>
            </div>

            <div class="form-group">
              <label>Mots de passe</label>
              <input class="form-control" type="text" required>
            </div>

            <div class="form-group">
              <label><input type="checkbox" /> Rester Connecter.</label>
            </div>


            <div class="form-group pt30" style="float: right; position: relative; top: -28px;" id="last">
              <button class="d-block btn btn-primary">Se Connecter</button>
            </div>
          </div>
        </div>

      </form>

    </div>
  </section>
