<!-- Page Heading Section Start -->

<div class="section section-padding mfont">
  <div class="container ">
    <div class="row mb-n5">
      <div class="carousel-item active">
        <div class="ag_portfolio_logo">
          <img src="assets/images/banner/12.png" class="d-block w-100 wrapperr">
          <div class="ag_portfolio_inform_2">
            <div class="container">
              <div class="ag_portfolio_inform">
                <ol class="breadcrumb">
                  <li><a href="/home">Acceuill</a></li>
                  <li class="active">Offres</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Heading Section End -->

  <!-- Recent Jobs Start -->
  <div class="section section-padding">
    <div class="container ">
      <div class="row mb-n5">
        <br>
        <div class="col-lg-8 col-12 mb-5 pr-lg-5 wrapper mfont">
          <!-- Job List Toolbar Start -->
          <div class="job-list-toolbar">
            <p>Affichage 1-10 de 34 résultats</p>
            <p>Trier par:
              <select>
                <option>Le plus récent</option>
                <option>Le plus populaire</option>
              </select>
            </p>
          </div>
          <!-- Job List Toolbar End -->

          <!-- Job List Wrap Start -->
          <div class="job-list-wrap mfont">
            <!-- Job List Start -->
            <a class="job-list" (click)="gotoProductDetails('/jobsingle')">
              <div class="company-logo col-auto">
                <img src="assets/images/companies/company-2.png" alt="Company Logo">
              </div>
              <div class="salary-type col-auto order-sm-3">
                <span class="salary-range">5000 EUR - 8000 EUR</span>
                <span class="badge badge-warning">À plein temps</span>
              </div>
              <div class="content col">
                <h6 class="title">Expert produit UI & UX</h6>
                <ul class="meta">
                  <li><strong class="text-primary">Will</strong></li>
                  <li><i class="fa fa-map-marker"></i> 2020 Willshire Glen, GA-30009</li>
                </ul>
              </div>
            </a>
            <!-- Job List Start -->

            <!-- Job List Start -->
            <a (click)="gotoProductDetails('/jobsingle')" class="job-list">
              <div class="company-logo col-auto">
                <img src="assets/images/companies/company-3.png" alt="Company Logo">
              </div>
              <div class="salary-type col-auto order-sm-3">
                <span class="salary-range">5000 EUR - 8000 EUR</span>
                <span class="badge badge-danger">Free-lance</span>
              </div>
              <div class="content col">
                <h6 class="title">Développeur Full Stack Backend</h6>
                <ul class="meta">
                  <li><strong class="text-primary">Github</strong></li>
                  <li><i class="fa fa-map-marker"></i> 2020 Willshire Glen, GA-30009</li>
                </ul>
              </div>
            </a>
            <!-- Job List Start -->

            <!-- Job List Start -->
            <a (click)="gotoProductDetails('/jobsingle')" class="job-list">
              <div class="company-logo col-auto">
                <img src="assets/images/companies/company-4.png" alt="Company Logo">
              </div>
              <div class="salary-type col-auto order-sm-3">
                <span class="salary-range">7000 EUR - 13000 EUR</span>
                <span class="badge badge-success">À plein temps</span>
              </div>
              <div class="content col">
                <h6 class="title">Product UI & UX Expert</h6>
                <ul class="meta">
                  <li><strong class="text-primary">Medicore</strong></li>
                  <li><i class="fa fa-map-marker"></i> 2020 CasablancaNearShore, GA-30009</li>
                </ul>
              </div>
            </a>
            <!-- Job List Start -->

            <!-- Job List Start -->
            <a (click)="gotoProductDetails('/jobsingle')" class="job-list">
              <div class="company-logo col-auto">
                <img src="assets/images/companies/company-5.png" alt="Company Logo">
              </div>
              <div class="salary-type col-auto order-sm-3">
                <span class="salary-range">5000 EUR - 8000 EUR</span>
                <span class="badge badge-success">À plein temps</span>
              </div>
              <div class="content col">
                <h6 class="title">Full Stack Backend Developer</h6>
                <ul class="meta">
                  <li><strong class="text-primary">GreenSoul</strong></li>
                  <li><i class="fa fa-map-marker"></i> 2020 CasablancaNearShore, GA-30009</li>
                </ul>
              </div>
            </a>
            <a (click)="gotoProductDetails('/jobsingle')" class="job-list">
              <div class="company-logo col-auto">
                <img src="assets/images/companies/company-4.png" alt="Company Logo">
              </div>
              <div class="salary-type col-auto order-sm-3">
                <span class="salary-range">7000 EUR - 13000 EUR</span>
                <span class="badge badge-success">À plein temps</span>
              </div>
              <div class="content col">
                <h6 class="title">Product UI & UX Expert</h6>
                <ul class="meta">
                  <li><strong class="text-primary">Medicore</strong></li>
                  <li><i class="fa fa-map-marker"></i> 2020 CasablancaNearShore, GA-30009</li>
                </ul>
              </div>
            </a>
            <!-- Job List Start -->

            <!-- Job List Start -->
            <a (click)="gotoProductDetails('/jobsingle')" class="job-list">
              <div class="company-logo col-auto">
                <img src="assets/images/companies/company-5.png" alt="Company Logo">
              </div>
              <div class="salary-type col-auto order-sm-3">
                <span class="salary-range">5000 EUR - 8000 EUR</span>
                <span class="badge badge-success">À plein temps</span>
              </div>
              <div class="content col">
                <h6 class="title">Full Stack Backend Developer</h6>
                <ul class="meta">
                  <li><strong class="text-primary">GreenSoul</strong></li>
                  <li><i class="fa fa-map-marker"></i> 2020 CasablancaNearShore, GA-30009</li>
                </ul>
              </div>
            </a>
            <a (click)="gotoProductDetails('/jobsingle')" class="job-list">
              <div class="company-logo col-auto">
                <img src="assets/images/companies/company-4.png" alt="Company Logo">
              </div>
              <div class="salary-type col-auto order-sm-3">
                <span class="salary-range">7000 EUR - 13000 EUR</span>
                <span class="badge badge-success">À plein temps</span>
              </div>
              <div class="content col">
                <h6 class="title">Product UI & UX Expert</h6>
                <ul class="meta">
                  <li><strong class="text-primary">Medicore</strong></li>
                  <li><i class="fa fa-map-marker"></i> 2020 CasablancaNearShore, GA-30009</li>
                </ul>
              </div>
            </a>
          </div>
          <!-- Job List Wrap Start -->

          <!-- Pagination Start -->
          <ul class="pagination pagination-center mt-5">
            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
          </ul>
          <!-- Pagination End -->

        </div>

        <!-- Job Sidebar Wrap Start -->
        <div class="col-lg-4 col-12 mb-5 wrapper mfont">
          <div class="sidebar-wrap">
            <!-- Sidebar (Search) Start -->
            <div class="sidebar-widget">
              <div class="inner">
                <h6 class="title">Rechercher par mots-clés</h6>
                <form action="#">
                  <input type="text" placeholder="e.g. web design">
                </form>
              </div>
            </div>
            <!-- Sidebar (Search) End -->

            <!-- Sidebar (Category) Start -->
            <div class="sidebar-widget mfont">
              <div class="inner">
                <h6 class="title">Catégorie</h6>
                <form action="#">
                  <select>
                    <option value="1">Toute catégorie</option>
                    <option value="2">Web Designer</option>
                    <option value="3">Web Developer</option>
                    <option value="4">Graphic Designer</option>
                    <option value="5">App Developer</option>
                    <option value="6">UI &amp; UX Expert</option>
                  </select>
                </form>
              </div>
            </div>
            <!-- Sidebar (Category) End -->

            <!-- Sidebar (Location) Start -->
            <div class="sidebar-widget mfont">
              <div class="inner">
                <h6 class="title">Emplacement</h6>
                <form action="#">
                  <input type="text" placeholder="Location">
                </form>
              </div>
            </div>
            <!-- Sidebar (Location) End -->

            <!-- Sidebar (Job Type) Start -->
            <div class="sidebar-widget mfont">
              <div class="inner">
                <h6 class="title">Type d'emploi</h6>
                <form action="#" class="mb-n1">
                  <div class="custom-control custom-checkbox mb-1">
                    <input type="checkbox" class="custom-control-input" id="jobtype0">
                    <label class="custom-control-label" for="jobtype0">Tous les types</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-1">
                    <input type="checkbox" class="custom-control-input" id="jobtype1">
                    <label class="custom-control-label" for="jobtype1">À plein temps</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-1">
                    <input type="checkbox" class="custom-control-input" id="jobtype2">
                    <label class="custom-control-label" for="jobtype2">À temps partiel</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-1">
                    <input type="checkbox" class="custom-control-input" id="jobtype3">
                    <label class="custom-control-label" for="jobtype3">Free-lance</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-1">
                    <input type="checkbox" class="custom-control-input" id="jobtype4">
                    <label class="custom-control-label" for="jobtype4">Stage</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-1">
                    <input type="checkbox" class="custom-control-input" id="jobtype5">
                    <label class="custom-control-label" for="jobtype5">Temporaire</label>
                  </div>
                </form>
              </div>
            </div>
            <!-- Sidebar (Experince) Start -->
            <div class="sidebar-widget mfont">
              <div class="inner">
                <h6 class="title">Expérience</h6>
                <form action="#" class="mb-n1">
                  <div class="custom-control custom-radio mb-1">
                    <input type="radio" class="custom-control-input" name="jobExperince" id="jobExperince0">
                    <label class="custom-control-label" for="jobExperince0">Toute expérience</label>
                  </div>
                  <div class="custom-control custom-radio mb-1">
                    <input type="radio" class="custom-control-input" name="jobExperince" id="jobExperince1">
                    <label class="custom-control-label" for="jobExperince1">1 an à 2 ans</label>
                  </div>
                  <div class="custom-control custom-radio mb-1">
                    <input type="radio" class="custom-control-input" name="jobExperince" id="jobExperince2">
                    <label class="custom-control-label" for="jobExperince2">2 an à 3 ans</label>
                  </div>
                  <div class="custom-control custom-radio mb-1">
                    <input type="radio" class="custom-control-input" name="jobExperince" id="jobExperince3">
                    <label class="custom-control-label" for="jobExperince3">3 an à 4 ans</label>
                  </div>
                  <div class="custom-control custom-radio mb-1">
                    <input type="radio" class="custom-control-input" name="jobExperince" id="jobExperince4">
                    <label class="custom-control-label" for="jobExperince4">4 an à 5 ans</label>
                  </div>
                </form>
              </div>
            </div>
            <!-- Sidebar (Experince) End -->
          </div>
        </div>
        <!-- Job Sidebar Wrap End -->
      </div>
    </div>
  </div>
  <!-- Recent Jobs End -->
