<!-- Slider Section Start -->
<div class="slider-section section mfont">
  <div class="slide-item bg-parallax" data-bg-image="assets/images/banner/1.jpg" data-overlay="50"
    style="background-image: url(&quot;assets/images/banner/1.jpg&quot;); background-position: 50% 0px;">
    <div class="container">
      <div class="slider-content text-center">
        <h2 class="title">La platfrom officiel de recrutement</h2>
        <p>Chez Mercedes-Benz France.</p>
      </div>
    </div>
  </div>
</div>
<!-- Slider Section End -->


<!-- Job Search Section Start -->
<div class="job-search-section section">
  <div class="container">
    <div class="job-search-wrap">
      <!-- Job Search Form Start -->
      <div class="job-search-form mfont">
        <form action="#">
          <div class="row mb-n4">

            <div class="col-lg-auto col-sm-6 col-12 flex-grow-1 mb-4">
              <input type="text" placeholder="e.g. Consultante .NET">
            </div>

            <div class="col-lg-auto col-sm-6 col-12 flex-grow-1 mb-4">
              <input type="text" placeholder="Emplacement">
            </div>

            <div class="col-lg-auto col-sm-6 col-12 flex-grow-1 mb-4">
              <select>
                <option value="1">Toute Catégorie</option>
                <option value="2">Web Designer</option>
                <option value="3">Web Developer</option>
                <option value="4">Graphic Designer</option>
                <option value="5">App Developer</option>
                <option value="6">UI &amp; UX Expert</option>
              </select>
            </div>

            <div class="col-lg-auto col-sm-6 col-12 flex-grow-1 mb-4">
              <button class="btn btn-primary">Chercher</button>
            </div>

          </div>
        </form>
      </div>
      <!-- Job Search Form End -->

    </div>
  </div>
</div>

<!-- Recent Jobs Start -->
<div class="section section-padding mfont">
  <div class="container  mt-4 mb-4 wrapper">
    <div><br></div>
    <div class="section-title ">
      <h2 class="title">Dernières offres d'emploi</h2>
      <p>Voici l'emploi le plus récent répertorié sur le site Web.</p>
    </div>

    <!-- Job List Wrap Start -->
    <div class="job-list-wrap ">

      <!-- Job List Start -->
      <a href="job-single.html" class="job-list">
        <div class="company-logo col-auto">
          <img src="assets/images/companies/company-12.png" alt="Company Logo">
        </div>
        <div class="salary-type col-auto order-sm-3">
          <span class="salary-range">5000 EUR - 8000 EUR</span>
          <span class="badge badge-success">À plein temps</span>
        </div>
        <div class="content col">
          <h6 class="title">Développeur Full Stack Backend</h6>
          <ul class="meta">
            <li><strong class="text-primary">Umanis</strong></li>
            <li><i class="fa fa-map-marker"></i> 2020 Willshire Glen, GA-30009</li>
          </ul>
        </div>
      </a>
      <!-- Job List Start -->

      <!-- Job List Start -->
      <a href="job-single.html" class="job-list">
        <div class="company-logo col-auto">
          <img src="assets/images/companies/company-2.png" alt="Company Logo">
        </div>
        <div class="salary-type col-auto order-sm-3">
          <span class="salary-range">5000 EUR - 8000 EUR</span>
          <span class="badge badge-warning">À plein temps</span>
        </div>
        <div class="content col">
          <h6 class="title">Expert produit UI & UX</h6>
          <ul class="meta">
            <li><strong class="text-primary">Will</strong></li>
            <li><i class="fa fa-map-marker"></i> 2020 Willshire Glen, GA-30009</li>
          </ul>
        </div>
      </a>
      <!-- Job List Start -->

      <!-- Job List Start -->
      <a href="job-single.html" class="job-list">
        <div class="company-logo col-auto">
          <img src="assets/images/companies/company-3.png" alt="Company Logo">
        </div>
        <div class="salary-type col-auto order-sm-3">
          <span class="salary-range">5000 EUR - 8000 EUR</span>
          <span class="badge badge-danger">Free-lance</span>
        </div>
        <div class="content col">
          <h6 class="title">Développeur Full Stack Backend</h6>
          <ul class="meta">
            <li><strong class="text-primary">Github</strong></li>
            <li><i class="fa fa-map-marker"></i> 2020 Willshire Glen, GA-30009</li>
          </ul>
        </div>
      </a>
      <!-- Job List Start -->

      <!-- Job List Start -->
      <a href="job-single.html" class="job-list">
        <div class="company-logo col-auto">
          <img src="assets/images/companies/company-4.png" alt="Company Logo">
        </div>
        <div class="salary-type col-auto order-sm-3">
          <span class="salary-range">7000 EUR - 13000 EUR</span>
          <span class="badge badge-success">À plein temps</span>
        </div>
        <div class="content col">
          <h6 class="title">Product UI & UX Expert</h6>
          <ul class="meta">
            <li><strong class="text-primary">Medicore</strong></li>
            <li><i class="fa fa-map-marker"></i> 2020 CasablancaNearShore, GA-30009</li>
          </ul>
        </div>
      </a>
      <!-- Job List Start -->

      <!-- Job List Start -->
      <a href="job-single.html" class="job-list">
        <div class="company-logo col-auto">
          <img src="assets/images/companies/company-5.png" alt="Company Logo">
        </div>
        <div class="salary-type col-auto order-sm-3">
          <span class="salary-range">5000 EUR - 8000 EUR</span>
          <span class="badge badge-success">À plein temps</span>
        </div>
        <div class="content col">
          <h6 class="title">Full Stack Backend Developer</h6>
          <ul class="meta">
            <li><strong class="text-primary">GreenSoul</strong></li>
            <li><i class="fa fa-map-marker"></i> 2020 CasablancaNearShore, GA-30009</li>
          </ul>
        </div>
      </a>
      <!-- Job List Start -->

    </div>
    <!-- Job List Wrap Start -->

    <div class="text-center mt-4 mt-lg-5">
      <a class="btn btn-primary" [routerLink]="['/joblist']">Afficher tous les emplois</a>
    </div>

  </div>
</div>

<!-- Funfact Section Start -->
<div class="section section-padding bg-parallax">
  <div class="container ">
    <agm-map [latitude]="lat" [longitude]="long"></agm-map>
  </div>
</div>
<!-- Funfact Section End -->
